apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: floatingips.rancher.k8s.binbash.org
spec:
  group: rancher.k8s.binbash.org
  versions:
    - name: v1beta1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              required:
                - floatingIPPool
              properties:
                ipAddr:
                  type: string
                floatingIPPool:
                  type: string
            status:
              type: object
              properties:
                ipAddr:
                  type: string
                state:
                  type: string
                assigned:
                  type: object
                  properties:
                    clusterName:
                      type: string
                    projectName:
                      type: string
                    serviceNamespace:
                      type: string
                    serviceName:
                      type: string
                conditions:
                  type: array
                  items:
                    type: object
                    required:
                      - type
                      - status
                      - lastTransitionTime
                      - reason
                      - message
                    properties:
                      type:
                        type: string
                      status:
                        type: string
                      observedGeneration:
                        type: integer
                        format: int64
                      lastTransitionTime:
                        type: string
                        format: date-time
                      reason:
                        type: string
                      message:
                        type: string
      subresources:
        status: {}
  scope: Namespaced
  names:
    plural: floatingips
    singular: floatingip
    kind: FloatingIP
    listKind: FloatingIPList
